@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  --clr-bg: #000000;
  --clr-bg-grad: linear-gradient(to right, rgba(5, 5, 5, 0.432), rgb(0, 0, 0));
  --clr-bg-grad-2: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  --clr-bg-content: #0000009a;
  --clr-secondary: #d1b1c8;
  --clr-accent: #f7e733;
  --clr-cta: rgb(206, 155, 15);
  --clr-text: white;
  --clr-text-reverse: black;

  --ff-header: Caveat, sans-serif;
  --ff-body: Teachers, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 5rem 1fr 3rem;

  font-family: var(--ff-body);
  font-size: 1.2rem;
  background: url(../images/index-bg-bw.jpg) center no-repeat;
  background-size: cover;
  color: var(--clr-text);
}

header {
  background-image: var(--clr-bg-grad-2);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgb(41, 41, 41);
}
header button {
  font-weight: 700;
  font-family: var(--ff-header);
  background: none;
  border: none;
  transition: color 0.25s, text-shadow 0.5s;
}

header button:hover {
  text-shadow: 0px 0px 5px var(--clr-accent);
  color: var(--clr-accent);
  cursor: pointer;
}

.header__btn {
  color: var(--clr-accent);
  font-size: 3rem;
}

.nav__ul {
  margin-top: 2rem; /* push nav to bottom */
  display: flex;
  column-gap: 2rem;
}

.nav__ul button {
  color: var(--clr-text);
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 500;
}

main {
  background-image: var(--clr-bg-grad);
  display: flex;
  justify-content: center;
}

#content {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-bg-content);
  backdrop-filter: blur(2px);
  position: relative;

  transition: background 1s;
}

footer {
  background-image: var(--clr-bg-grad-2);
  text-align: center;
  border-top: 1px solid rgb(41, 41, 41);
  padding: 1rem;
}
footer a {
  color: var(--clr-text);
  text-decoration: none;
  transition: color 0.25s;
}
footer a:hover {
  color: var(--clr-accent);
}

/* Utils */
.nav__ul .nav__btn-active {
  border-bottom: 2px solid var(--clr-accent);
  color: var(--clr-accent);
}
/* Prevent transition on page load */
.preload * {
  transition: none !important;
}
